.character {
  font-size: 0.9rem;
  color: purple;
  cursor: pointer;
  margin: 0.2rem;
}

.card-main-inner-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.card-link {
  text-decoration: none;
  color: inherit;
}
.characters-section {
  margin: 0.5rem 0px;
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px #c5c5c5;
}

.characters-section .character-header {
  font-weight: 600;
  font-size: 1.35rem;
  text-transform: uppercase;
}
.list-icon-card-main {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  margin: 3px;
  border-radius: 100%;
  cursor: pointer;
  border: solid 1px #c5c5c5;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 4%), 0px 0px 2px rgb(0 0 0 / 6%),
    0px 0px 1px rgb(0 0 0 / 4%);
}

.characters-section .card-container {
  width: 14rem;
  position: relative;
  min-height: 200px;
  max-width: 40rem;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: #282727;
  color: white;
}

@media screen and (max-width: 1000px) {
  .card-main-inner-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 650px) {
  .card-main-inner-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
}
